<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner" style="background-color: #5393C8">
  <div class="container center-block">
    <h2 class="text-center">Dashboard</h2>
    <p class="lead">Create your own polls or browse others' polls.</p>
  </div>
  
<!-- Tab menu -->
<div class="container-fluid" role="navigation">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
  <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" style="margin-right: 2px;" class="active">
        <a href="#" data-target='#create-poll' role="tab" data-toggle="tab">New Poll</a>
      </li>
      <li role="presentation" class="" ng-click="getPolls(getCurrentUser())">
        <a href="#" data-target='#my-polls' role="tab" data-toggle="tab">Your Polls</a>
      </li>
      <li role="presentation" class="" ng-click="getPolls(null); editOff()">
        <a href="#" data-target='#browse' role="tab" data-toggle="tab">Browse Polls</a>
      </li>
      
  </ul>
  </div>
</div>
    
</header>



<!--Tabs content -->
<div class="container">
  <br>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active fade in" id="create-poll" >
      <div class="col-xs-10 col-xs-offset-1">
      <form role="form" name="form" class="form-horizontal" novalidate>
        <h4>Create a Poll</h4>
        <div class="form-group">
          <input type="text" name="title" id="title" class="form-control" ng-model="title" placeholder="Poll title" required>
        </div>
        <div class="form-group" ng-repeat="choice in choices track by $index">
          <input type="text" class="form-control" ng-model="choices[$index]" placeholder="Enter choice">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="addChoice()">+</button>
        </div>
        <div class="form-group">
          <button class="btn btn-success" ng-click="addPoll(form)">Submit</button>
        </div>
      </form>
        
      </div>
      
    </div>
    <div role="tabpanel fade" class="tab-pane" id="my-polls" >
      <viewpolls></viewpolls>
    </div>
    
    <div role="tabpanel fade" class="tab-pane" id="browse">
      <viewpolls></viewpolls>
    </div>
  </div>
 
</div>
   <span>{{ message }}</span>
  